<%= render "navbar" %>

<div class="container">
<% if user_signed_in?%>
  <% @post.each do |post| %><br>
    <article class="message is-warning">
      <div class="message-header">
        <%= post.user.email %>
      </div>
      <div class="message-body">
        <%= post.body %>
      </div>
    </article>
  <% end %>
<% else%>
  <% @post.each do |post| %><br>
    <article class="message is-warning">
      <div class="message-body">
        <%= post.body %>
      </div>
    </article>
  <% end %>
<% end %>
</div>